<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Admin - Students</title>
  </head>
  <body>
    <h2>Admin - Students</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="student : ${students}">
          <td th:text="${student.id}"></td>
          <td><input type="text" th:value="${student.name}" /></td>
          <td><input type="text" th:value="${student.email}" /></td>
          <td>
            <button th:onclick="'editStudent(' + ${student.id} + ')'">
              Edit
            </button>
            <button th:onclick="'saveStudent(' + ${student.id} + ')'">
              Save
            </button>
            <button
              th:id="student-${student.id}"
              th:onclick="'deleteStudent(' + ${student.id} + ')'"
            >
              Delete
            </button>
            <button th:onclick="'showMore(' + ${student.id} + ')'">
              Show More
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <script th:inline="javascript">
      function editStudent(id) {
        // TODO implement
      }

      function saveStudent(id) {
        // TODO implement
      }

      function deleteStudent(id) {
        // TODO implement
      }

      function showMore(id) {
        // TODO implement
      }
    </script>
  </body>
</html>
