<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Spring Security Example</title>
  </head>
  <body>
    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/login}" method="post">
      <div>
        <label> User Name: </label>
        <input type="text" name="username" />
      </div>
      <div>
        <label> Password: </label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Sign In" />
      </div>
    </form>
    <style>
      body > div {
        color: transparent;
        transition: 1s;
      }
      form {
        width: fit-content;
      }
      form > div {
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
      }

      form > div > input {
        background: none;
        border: none;
        border-bottom: 1px solid #888;
      }
    </style>
  </body>
</html>
